body {
  display: block;
  box-sizing: border-box;
  margin: 0;
}

main {
  display: grid;
  grid-template-columns: minmax(450px, 560px) minmax(450px, 560px) auto;
  column-gap: 0;
  background-image: url(karol-chomka-CXo4rSuxpVI-unsplash.jpg);
  background-size: 100%;
  background-position: center;
  background-position-x: left;
  padding-bottom: 70px;
}

.cnt-fr {
  display: grid;
  color: rgb(75, 64, 89);
  mix-blend-mode: hard-light;
}

.cnt-ko {
  display: grid;
  color: rgb(253, 248, 242);
  mix-blend-mode: hard-light;
}

.fr-body {
  margin: 8dvh 0 4dvh 4dvw;
  padding: 1em 1em 1em 2em;
  background-color: rgba(233, 236, 239, .6);
  border-radius: 3px;
}

.ko-body {
  margin: 8dvh 4dvw 4dvh 0;
  padding: 1em 2em 1em 1em;
  background-color: rgba(73, 80, 87, .6);
  border-radius: 3px;
}

.fr-titre {
  font-family: roboto, sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 14pt;
  font-kerning: auto;
  margin-bottom: 5dvh;
}

.fr-texte {
  font-family: roboto, sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 12.5pt;
  font-kerning: auto;
  line-height: 22px;
}

.fr-source {
  position: relative;
  right: 0;
  bottom: 1dvh;
  margin-top: 5dvh;
  font-family: roboto, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 11pt;
  font-kerning: auto;
  text-align: right;
}

.fr-auteur {
  font-variant: all-small-caps;
  font-style: italic;
  font-size: 12pt;
}

.ko-title {
  padding-top: 0.5em;
  text-align: right;
  font-family: rixsingose-pro, sans-serif;
  font-weight: 500;
  font-style: italic;
  font-size: 13pt;
  font-kerning: auto;
  margin-bottom: 5dvh;
}

.ko-text {
  text-align: right;
  font-family: rixsingose-pro, sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 11pt;
  font-kerning: auto;
  line-height: 22px;
}

.ko-source {
  position: relative;
  right: 0;
  bottom: 0;
  margin-top: 5dvh;
  text-align: end;
  font-family: rixsingose-, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 9.5pt;
  font-kerning: auto;
}

.margin-col {
  display: grid;
  width: 100%;
}

#img-source {
  position: relative;
  top: 0;
  right: 3em;
  text-align: right;
}

.link-monotone:any-link {
  text-decoration-style: none;
  color: rgba(232, 232, 225, .8);
}


::selection {
  background: rgba(195, 172, 95, 0.3);
  mix-blend-mode: lighten;
}
